<main>

  <table class="entity-table">
    <tr class="et-row" class="et-header-row">
      <th>new</th>
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>email</th>
    </tr>

    {{#each customers}}
      {{> customerRow id=@id}}
    {{/each}}

  </table>

  <form action="/">
    <label for="cName">Name:</label><br>
    <input type="text" id="cName" name="cName"><br>
    <label for="cEmail">Email:</label><br>
    <input type="text"><br>
    <input type="submit" value="Submit">
  </form>

</main>
