<main>

  <table class="entity-table">
    <tr class="et-row" class="et-header-row">
      <th>new</th>
      <th></th>
      <th>id</th>
      <th>driver_id</th>
      <th>truck_id</th>
      <th>start_facility_id</th>
      <th>end_facility_id</th>
      <th>total_weight</th>
      <th>total_volume</th>
      <th>late</th>
      <th>departure_time</th>
      <th>expected_arrival_time</th>
      <th>actual_arrival_time</th>
    </tr>

    {{#each deliveries}}
      {{> deliveryRow }}
    {{/each}}

  </table>

  <form action="/">
    <label for="dDriverID">Driver ID:</label><br>
    <input type="number"><br>
    <label for="dTruckID">Truck ID:</label><br>
    <input type="number"><br>
    <label for="dStartFacilityID">Start Facility ID:</label><br>
    <input type="number"><br>
    <label for="dEndFacilityID">End Facility ID:</label><br>
    <input type="number"><br>

    <label for="dTotalWeight">Total Weight:</label><br>
    <input type="number"><br>
    <label for="dTotalVolume">Total Volume:</label><br>
    <input type="number"><br>

    <label for="dLate">Late:</label><br>
    <input type="number"><br>

    <label for="dDepartureTime">Departure Time:</label><br>
    <input type="text"><br>
    <label for="dExpectedArrivalTime">Expected Arrival Time:</label><br>
    <input type="text"><br>
    <label for="dActualArrivalTime">Actual Arrival Time:</label><br>
    <input type="text"><br>
    <input type="submit" value="Submit">

  </form>

</main>
