<main>

  <table class="entity-table">
    <tr class="et-row" class="et-header-row">
      <th>new</th>
      <th></th>
      <th>id</th>
      <th>customer_id</th>
      <th>location</th>
      <th>name</th>
    </tr>

    {{#each facilities}}
      {{> facilityRow id=@id}}
    {{/each}}

  </table>

  <form action="/">
    <label for="fCustomerID">Customer ID:</label><br>
    <input type="number"><br>
    <label for="fLocation">Location:</label><br>
    <input type="text"><br>
    <label for="fName">Name:</label><br>
    <input type="text"><br>
    <input type="submit" value="Submit">
  </form>

</main>
