<main>

  <table class="entity-table">
    <tr class="et-row" class="et-header-row">
      <th>new</th>
      <th></th>
      <th>id</th>
      <th>customer_id</th>
      <th>start facility id</th>
      <th>end facility id</th>
      <th>current facility id</th>
      <th>weight</th>
      <th>volume</th>
    </tr>

    {{#each orders}}
      {{> orderRow id=@id}}
    {{/each}}

  </table>

  <form action="/">
    <label for="oCustomerID">Customer ID:</label><br>
    <input type="number"><br>
    <label for="oStartFacilityID">Start Facility ID:</label><br>
    <input type="number"><br>
    <label for="oEndFacilityID">End Facility ID:</label><br>
    <input type="number"><br>
    <label for="oCurrentFacilityID">Current Facility ID:</label><br>
    <input type="number"><br>

    <label for="oWeight">Weight:</label><br>
    <input type="number"><br>
    <label for="oVolume">Volume:</label><br>
    <input type="number"><br>
    <input type="submit" value="Submit">
  </form>

</main>
