<main>

  <table class="entity-table">
    <tr class="et-row" class="et-header-row">
      <th>new</th>
      <th></th>
      <th>id</th>
      <th>current facility</th>
      <th>plate</th>
      <th>max weight</th>
      <th>max volume</th>
    </tr>

    {{#each trucks}}
      {{> truckRow id=@id}}
    {{/each}}

  </table>

</main>
