<main>

  <table class="entity-table">
    <tr class="et-row" class="et-header-row">
      <th>new</th>
      <th></th>
      <th>id</th>
      <th>current facility</th>
      <th>plate</th>
      <th>max weight</th>
      <th>max volume</th>
    </tr>

    {{#each trucks}}
      {{> truckRow }}
    {{/each}}

  </table>
  <form action="/">
    <label for="tCurrentFacilityID">Current Facility ID:</label><br>
    <input type="number"><br>
    <label for="tPlate">Plate:</label><br>
    <input type="text"><br>
    <label for="tMaxWeight">Maximum Weight:</label><br>
    <input type="number"><br>
    <label for="tMaxVolume">Maximum Volume:</label><br>
    <input type="number"><br>
    <input type="submit" value="Submit">
  </form>
</main>
